[Unit]
Description=Java Web Server
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=usr/bin/java -jar {{ app_dir }}/{{ app_file }}
User={{ ansible_user_id }}
Restart=always
RestartSec=10
Environment=PORT={{ app_port }}
